.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #eab8b2;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}
.button:hover {
  background-color: #e5a69f;
}

input[type="text"] {
  padding: 0.5em 1em;
  border: thin solid #767676;
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
  transition: 0.2s all ease-in;
}
input[type="text"]:hover {
  box-shadow: inset 0 0 4px rgba(0,0,0,0.25);
}
